//cores
$corDeFundo: #000;
$corDeFundoHero: #000;
$corDeFundoBarra: #f7edf6;

$corDeFundoGradiente: pink;
$corDeFundoGradiente2:purple;
$corDeFundoGradiente3: red;
$corDeFundoGradiente4: orange;

$corTextoPrincipal: #ffe2fe;
$corTextoSecundario: #5a0264;

$corBotao: #ff0080;


//Fonte
$fontePrincipal: 'Quicksand', sans-serif;